body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}


header, footer {
    background-color: transparent;
    color: black;
    text-align: right;
    padding: 2px;
    margin-right: 5px;
    border-radius: 10px;
  
}


main {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

section {
    margin-bottom: 20px;
}

.start h1 {
    color: lightblue;
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;  
    display: flex;
   border: 5px solid ; 
  box-shadow: 0 0 10px ;

}

.trying {
  color: lightblue;
  font-size: 16px;
  margin-bottom: 5px;
  border: 5px solid; 
  border-radius: 5px;
  padding: 5px;
  display: flex; 
  box-shadow: 0 0 10px ;

}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 10px; 
  box-shadow: 0 0 10px ;
  border-radius: 10px;


}

.main div {
    color: black; 
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    transition:  0.3s; 
}

.main div:hover {
    background-color: white; 
    cursor: pointer;
  box-shadow: 0px 0px 5px lightblue, 0px 0px 25px mediumpurple,0px 0px 50px lightsalmon, 0px 0px 100px lightcoral, 0px 0px 200px lightpink;
}

.Web { 
  background-color: mediumpurple; 
  border-radius: 10px;
  padding:5px;
}

.UI {
  background-color: lightskyblue;
   border-radius: 10px;
    padding:5px;
  }

.CSS { 
background-color: lightsalmon; 
   border-radius: 10px;
    padding:5px;
  
    }

.JS {
  background-color: lightblue; 
  border-radius: 10px;
  padding:5px;
}
.HTML { 
  background-color: lightcoral; 
  border-radius: 10px;
  padding:5px;
}
.GIT { 
  background-color: lightpink; 
  border-radius: 10px;
  padding:5px;
}



.About div {
    background-color: lightcyan;
    padding: 20px;
    border-radius: 10px;
  box-shadow: 0 0 10px ;
}
  
  
  .About img {
      width: 250px;
      height: auto;
      display: block;
      margin: 0 auto;
  }

  
button{
   background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.About button:hover {
   box-shadow: 0px 0px 5px lightblue, 0px 0px 25px mediumpurple,0px 0px 50px lightsalmon, 0px 0px 100px lightcoral, 0px 0px 200px lightpink;
  cursor: pointer;

}

.work {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px ;

 }



.work img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}



.CTA {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px ;

}


.CTA button {
    background-color: lightpink;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.CTA button:hover {
    background-color: white;
   box-shadow: 0px 0px 5px lightblue, 0px 0px 25px mediumpurple,0px 0px 50px lightsalmon, 0px 0px 100px lightcoral, 0px 0px 200px lightpink;
}

footer {
  border-top: 1px solid black;
    font-size: 0.8em;
}




